body {
    font-family: monospace;
    font-size: 15px;
    text-align: center;
}

header {
    height: 150px;
}

.quebra_linha {
    display: block;
    text-align: end;
}

.resultado {
    max-width: fit-content;
}

.separar {
    display: inline;
    line-break: normal;
}

select {
    width: 177px;
    height: 21px;
}

button {
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

